@charset "UTF-8";
:root{
    --cor_Fundo_principal: #0A1220;
    --cor_Fundo_Secundário: #102A44;
    --cor_primária: #2F80ED;
    --cor_de_destaque: #56CCF2;
    --cor_Texto_principal: #FFFFFF;
    --cor_Texto_secundário: #D1D2DB;
    --cor_Texto_fraco: #9CA3AF;
}

body{
    font: normal normal 1em sans-serif;
    background-image:linear-gradient(to bottom,
     #0e182b,#0a1220, #05090f);
}

main{
    background-color: var(--cor_Fundo_Secundário);
    max-width: 450px;
    min-width: 50px;
    padding: 10px;
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
}

main h1 {
    font: normal bolder 1.8em sans-serif;
    color: var(--cor_Texto_principal);
    text-align: center;
    margin: auto;
    max-width: 450px;
    min-width: 50px;
}

div{
    margin: auto;
    min-width: 50px;
    max-width: 420px;