@charset "UTF-8";
:root{
    --cor_Fundo_principal: #0A1220;
    --cor_Fundo_Secundário: #102A44;
    --cor_primária: #2F80ED;
    --cor_de_destaque: #56CCF2;
    --cor_Texto_principal: #FFFFFF;
    --cor_Texto_secundário: #D1D2DB;
    --cor_Texto_fraco: #9CA3AF;
}

body{
    font: normal normal 1em sans-serif;
    background-image:linear-gradient(to bottom,
     #0e182b,#0a1220, #05090f);
}

main{
    background-color: var(--cor_Fundo_Secundário);
    max-width: 450px;
    min-width: 50px;
    padding: 10px;
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
    height: 200px;
}

main h1 {
    font: normal bolder 1.8em sans-serif;
    color: var(--cor_Texto_principal);
    text-align: center;
    margin: auto;
    max-width: 450px;
    min-width: 50px;
    text-shadow: 3px 2px 6px black;
}

div{
    margin: auto;
    min-width: 50px;
    max-width: 420px;
    margin-top: 30px;
}
div input{
    display: block;
    width: 100%;
    padding: 3px;
    margin: auto;
    margin-top: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px black;
}
/*JANELA 350px*/
@media (min-width: 350px){   
    div input#btn{
        background-color: var(--cor_de_destaque);
        width: 103.5%;
        margin: auto;
        padding: 3px;
        margin-top: 3px;
    }
}
/*JANELA 500px*/
@media (min-width: 500px){   
    div input#btn{
        background-color: var(--cor_de_destaque);
        width: 102.5%;
        margin: auto;
        padding: 3px;
        margin-top: 3px;
    }
}
/*JANELA 1200px*/
@media (min-width: 350px){   
    div input#btn{
        background-color: var(--cor_de_destaque);
        width: 102.7%;
        margin: auto;
        padding: 3px;
        margin-top: 3px;
    }
}